.side-bar {
    position: absolute;
    top: 40px;
    bottom: 0px;
    left: 0px;
    width: 20%;
    
    flex-flow: column nowrap;
    align-items: center;
    
    overflow-y: auto;
    overflow-x: hidden;
    
    flex: 0 0 256px;

    margin-left: 0;

    background: white;
    visibility: visible;

    box-shadow: 0 5px 10px #999999;

    z-index: 50;
    transition: all 0.7s;
    box-sizing: border-box;
    
}

.hide-side-bar {
    margin-left: -50%;
    visibility: hidden;
}

.side-bar-item-container ul {
	margin: 0;
	padding: 0;
}

.side-bar-container {
    padding-top: 30px;
}

.side-bar-item-container .item {
    cursor: pointer;
    margin-left: 0px;
    padding: 0px 36px 0px 58px;
    position: relative;
}

.item-name {
    height: 100%;
    border: 10px;
    box-sizing: border-box;
    display: flex;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: 16px;
    font-weight: inherit;
    position: relative;
    line-height: 25px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    min-height: 48px;
    background: none;
}

.item-name div {
    margin: auto 0;
    overflow: hidden;
    display: inline-block;
    max-width: 100%;
}

.sub-item {
    margin-left: 10px;
    padding: 0px 36px 0px 65px;
    position: relative;
    display: -webkit-box;
}

.side-bar-item-container ul li{
	display: block;
    font-size: 14px;
    cursor: pointer;
}

.side-bar-item-container ul li:hover{
	background-color: hsla(0, 0%, 93.3%, .4);
}

.side-bar-item-container .nav-header:hover{
	background-color: hsla(0, 0%, 93.3%, .4);
}

.side-bar-selection .side-bar-item-container ul li a {
	text-decoration: none;
	color: inherit;
}

.side-bar-selection .side-bar-item-container ul li :hover {
	text-decoration: none;
}


.closeSideBar {
	border: none;
    outline: none;
    background: none;
    
    color: #4d4d4d;
    
    padding: 3px;
    position: absolute;
    top: 5px;
    right: 10px;
}

.closeSideBar:hover {
	color: #333;
}

.active-menu {
	background: #4CAF50!important;
    color: #fff!important;
}

.active-menu:hover {
	background: #4CAF50!important;
    color: #fff!important;
}

.side-bar-item-container .nav-header .glyphicon{
    margin-right: 5px;
    font-size: 12px;
}

.side-bar .side-bar-container .side-bar-selection .side-bar-item-container .tree-toggle {
    display: flex;
}

.item-icon-left {
    display: block;
    fill: rgb(117, 117, 117);
    height: 24px;
    width: 24px;
    user-select: none;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    top: 0px;
    margin: 15px!important;
    left: 4px;

    font-size: 18px!important;
    margin: auto 0;
    position: absolute!important;
}

.item-icon-right {
    border: 10px;
    box-sizing: border-box;
    display: block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    padding: 15px;
    outline: none;
    font-weight: inherit;
    position: absolute;
    overflow: visible;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    width: 48px;
    height: 48px;
    top: 0px;
    right: 4px;
    background: none;
}
