.body {
    position: absolute;
    background-color: rgb(245, 245, 245);
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
}
/* 
.footer{
	position: fixed;
	
	
	width: 80%;
	
	margin-left: 10%;
	margin-right: 10%;
	
	bottom: 0;
	height: 7em;
	
    
}

.footer .footer-content {
    font-size: 12px;
    line-height: 1.5;
    color: #586069;
	font: normal 16px sans-serif;
		
	border-top: 1px solid #eaecef;
	
    padding-top: 10px;
    padding-bottom: 10px;
    
    margin-top: 40px;
	
} */
