#modal-template {
	margin-top: 5%;
}

.modal-body .container-fluid .inline-box {
    position: relative;
    display: -webkit-box;
}

.modal-body {
	max-height: 50vh;
    overflow-y: auto;
}

label#title-modal-input {
    padding: 5px;
    line-height: 1.5;
    flex: 1 1 auto;
    display: block;
    width: 30%;
}

.inline-box .form-control {
	width: 70%;
}